<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div align="center" class="container my-2">
    <h1>Notes list</h1>

    <hr>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notesList}">
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td>
                <form action="/note/edit" method="GET">
                    <input type="hidden" th:value="${note.getId()}" name="id">
                    <button type="submit">Edit</button>
                </form>
                <form action="/note/delete" method="POST">
                    <input type="hidden" th:value="${note.getId()}" name="id">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <a th:href = "@{/note/add}" class="btn btn-primary btn-sm mb-3"> Add new note </a>
</div>
</body>
</html>